body{
    color: palevioletred;
    background-color: black;
    margin: 8px;
    font-family: "Shadows Into Light", cursive;
    margin-bottom: 100px;
}

.chamada{
    background: purple;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}